body.wrap {
	margin: 0 0;
	background-color: #white;
	background: url("images/backer1.jpg") repeat;
	/*background: url("images/stripes01.jpg") repeat-x;*/
	height:100%;
	min-height:100%;/*for mozilla*/
}

h1 {
	font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
	text-decoration: none;
	letter-spacing: .03em;
	color: #7A6525;
	font-size: 16pt;
	margin: 0 0;
	margin-bottom: 10px;
}

h2 {
	font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
	text-decoration: none;
	letter-spacing: .03em;
	color: #7A6525;
	font-size: 14pt;
	margin: 0 0;
	margin-bottom: 10px;
}

h3 {
	font-size: 14pt;
	font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
	text-decoration: none;
	font-style: normal;
	margin-top: 5px;
	margin-bottom: 0px;
}

p {
	font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
	text-decoration: none;
	letter-spacing: .03em;
	color: #7A6525;
	font-size: 13pt;
	margin: 0 0;
	margin-bottom: 20px;
}

#backtotop {
	text-align: right;
}

li {
	font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
	text-decoration: none;
	letter-spacing: .03em;
	color: #7A6525;
	font-size: 13pt;
	margin: 0 0;
}

#intro {
	position: absolute;
	top: 700px;
	left: 250px;
	width: 775px;
}

#classpic {
	position:absolute;
	left: 50%;
	width: 640px;
	height: 424px;
	text-decoration: none;
	margin-left: -320px; /*set to a negative number 1/2 of your width*/
	margin-top: 900px;
}

#towners {
	position: absolute;
	top: 1375px;
	left: 250px;
	width: 775px;
}

#bigday {
	position:absolute;
	left: 50%;
	top: 2400px;
	width: 626px;
	text-decoration: none;
	margin-left: -323px; /*set to a negative number 1/2 of your width*/
}

#bigdaybody {
	position: absolute;
	top: 2600px;
	left: 250px;
	width: 775px;
}

/* ----------------------------------- header container ------------------------------------ */

/* ----------------------------------- end header container ------------------------------------ */

/* ----------------------------------- start nav bar ------------------------------------------- */
/* ----------------------------------- end nav bar --------------------------------------------- */

/* ----------------------------------- start banner -------------------------------------------- */

#bannercontainer {
	position:absolute;
	left: 50%;
	width: 1060px;
	height: 95px;
	margin-left: -530px; /*set to a negative number 1/2 of your width*/
	margin-top: 25px;
}

/* ----------------------------------- end banner ---------------------------------------------- */

/* ----------------------------------- body stuff ---------------------------------------------- */

#mainimage {
	position:absolute;
	left: 50%;
	width: 800px;
	height: 468px;
	margin-left: -400px; /*set to a negative number 1/2 of your width*/
	margin-top: 145px;
}

#mainimage2 {
	position:absolute;
	left: 50%;
	width: 800px;
	height: 468px;
	margin-left: -400px; /*set to a negative number 1/2 of your width*/
	margin-top: 205px;
}

#heart2 {
	position:absolute;
	left: 50%;
	width: 145px;
	height: 150px;
	text-decoration: none;
	background: url("images/heart3.png");
	margin-left: -600px; /*set to a negative number 1/2 of your width*/
	margin-top: 205px;
}

#email {
	position:absolute;
	left: 50%;
	width: 121px;
	height: 153px;
	text-decoration: none;
	margin-left: 475px; /*set to a negative number 1/2 of your width*/
	margin-top: 275px;
}

#fb {
	position:absolute;
	left: 50%;
	width: 73px;
	height: 73px;
	text-decoration: none;
	margin-left: 480px; /*set to a negative number 1/2 of your width*/
	margin-top: 600px;
}

#reg {
	position:absolute;
	left: 50%;
	width: 73px;
	height: 73px;
	text-decoration: none;
	margin-left: -580px; /*set to a negative number 1/2 of your width*/
	margin-top: 300px;
}

#ThleenSenior {
	position:absolute;
	left: 50%;
	width: 73px;
	height: 73px;
	text-decoration: none;
	margin-left: -600px; /*set to a negative number 1/2 of your width*/
	margin-top: 2375px;
}

#DavidSenior {
	position:absolute;
	left: 50%;
	width: 73px;
	height: 73px;
	text-decoration: none;
	margin-left: 420px; /*set to a negative number 1/2 of your width*/
	margin-top: 1875px;
}

#gift {
	position:absolute;
	left: 50%;
	width: 73px;
	height: 73px;
	text-decoration: none;
	margin-left: -600px; /*set to a negative number 1/2 of your width*/
	margin-top: 7450px;
}

#bodyHead {
	position:absolute;
	left: 50%;
	width: 650px;
	height: 137px;
	text-decoration: none;
	background: url("images/bodyHeadline.png");
	margin-top: 650px;
	margin-left: -380px; /*set to a negative number 1/2 of your width*/
}

#navcontainer {
	position:absolute;
	left: 50%;
	height: 44px;
	margin-left: -550px; /*set to a negative number 1/2 of your width*/
	margin-top: 120px;
	/*width: 1100px;
	width: 1100px;
	margin-top: 150px;*/
}

#nav {
	margin: 0px auto;
}
	
#nav li {
	padding: 0px;
	padding-top: 20px;
	padding-right: 10px;
	float: left;
	list-style: none;
	/*display: block;
	width: 182px;
	width: 175px;
	border-right: 3px solid #00447C;*/
}

ul.cssmenu {
	position:absolute;
	left: 50%;
	margin-left: -450px; /*set to a negative number 1/2 of your width*/
	margin-top: 145px;
	list-style: none;
	padding: 0px;
	}

.displace {
	position: absolute;
	left: -5000px;
	}

ul.cssmenu li {
	float: left;
	}

ul.cssmenu li a {
	display: block;
	width: 197px;
	height: 22px;
	background: url("images/nav/masterNav.png");
	}
	
ul.cssmenu a span {display: none;}

ul.cssmenu a:hover span {
	display: block;
	position: absolute;
	top: 30px;
	left: 0;
}

/*
*	Normal Links
*/

ul.cssmenu li.out a {
	background-position: 0 0;
	}

ul.cssmenu li.big a {
	background-position: -197px 0;
	}

ul.cssmenu li.party a {
	background-position: -394px 0;
	}

ul.cssmenu li.couple a {
	background-position: -591px 0;
	}

ul.cssmenu li.backstage a {
	background-position: -788px 0;
	}

/*
*	Hover Links
*/

ul.cssmenu li.out a:hover {
	background-position: 0 -22px;
	}

ul.cssmenu li.big a:hover {
	background-position: -197px -22px;
	}

ul.cssmenu li.party a:hover {
	background-position: -394px -22px;
	}

ul.cssmenu li.couple a:hover {
	background-position: -591px -22px;
	}

ul.cssmenu li.backstage a:hover {
	background-position: -788px -22px;
	}
	
ul.bodyul {
	margin-top: -15px;
}

ul.bodyul li.bodyullinks a {
	font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
	text-decoration: underline;
	letter-spacing: .03em;
	color: #483C16;
	font-size: 11pt;
	margin: 0 0;	
}

ul.bodyul li.bodyullinks a:hover {
	font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
	text-decoration: none;
	letter-spacing: .03em;
	color: #483C16;
	margin: 0 0;	
}














